<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste d'acteur</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Nom</th>
        <th>Surnom</th>
        <th>Mort</th>
        </tr>
        <tr th:each ="gangster : ${listGangster}">
        <td th:utext="${gangster.getGname()}">...</td>
        <td th:utext="${gangster.getNickname()}">...</td>
        <td th:utext="${gangster.getBadness()}">...</td>
        <td><a th:href="@{/detailGangster/{id}(id=${gangster.getGname()})}">Détail</a></td>
        </tr>
    </table>

<form th:action="@{/newGangster}" method="post">
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Surnom</th>
            <th>Mort</th>
        </tr>
        <tr>
            <td><input type="text" th:field="${newGangster.gname}"></td>
            <td><input type="text" th:field="${newGangster.nickname}"></td>
            <td><input type="text" th:field="${newGangster.badness}"></td>
        </tr>
    </table>
    <button type="submit">Créer le gangster</button>
</form>

</body>
</html>