<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste d'acteur</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Nom :</th>
        <th>Surnom :</th>
        <th>Mort :</th>
        <th>Membre de l'organisation :</th>
        <th>Boss de l'organisation :</th>
        </tr>
        <tr>
            <td th:utext="${gangster.getGname()}">...</td>
            <td th:utext="${gangster.getNickname()}">...</td>
            <td th:utext="${gangster.getBadness()}">...</td>
            <td th:if="${gangster.getOrganisation() != null}" th:utext="${gangster.getOrganisation().getOrgname()}" ></td>
            <td th:if="${gangster.getOrganisation() == null}" >Pas d'organisation</td>
            <td th:if="${gangster.getOrganisationGere() != null}" th:utext="${gangster.getOrganisationGere().getOrgname()}"></td>
            <td th:if="${gangster.getOrganisationGere() == null}">N'est pas Boss</td>
        </tr>
    </table>

    <form th:action="@{/ajouterMembreOrganisation}">
        <select th:field="${organisationSelect}">
            <option value="default">Selectionner une organisation</option>
            <option th:each ="organisation : ${organisations}"
                    th:value="${organisation.getOrgname()}"
                    th:text="${organisation.getOrgname()}"></option>
        </select>
        <button type="submit">Intégrer l'organisation</button>
    </form>
</body>
</html>